[defaults]
inventory = ./aws_ec2.yml
host_key_checking = False
remote_user = ubuntu
private_key_file = /var/lib/jenkins/workspace/vmkey.pem
roles_path = .
timeout = 30

[inventory]
enable_plugins = aws_ec2

[ssh_connection]
# This is fine for a one-off command but doesn't work well in ansible.cfg. Instead, use bastion_host if needed.
# Remove ProxyCommand here and instead handle proxying with ansible_ssh_common_args in inventory or group_vars
# ssh_args = -o ProxyCommand="..."

# You can safely leave this empty or use more general options:
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
